<!doctype html>

<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "meta.html" . }}
    <title>{{ .Title }}{{ if not .IsHome }} || {{ $.Site.Title }}{{ end }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
    {{ partial "head_includes.html" . }}
  </head>
  <body
    class="{{ block "body-classes" . }}{{ end }}"
    lang="{{ .Site.LanguageCode }}">
  {{ block "content" . }}{{ end }}
  {{ if not .Params.hide_footer }}
    {{ block "footer" . }}{{ end }}
  {{ end }}
  </body>
</html>
